@import '~@weepower/core/styles/reset';
@import '~@weepower/core/styles/components/helpers';
@import '~@weepower/core/styles/components/buttons';
@import '~@weepower/core/styles/components/forms';
@import '~@weepower/core/styles/components/tables';

@import './hljs.scss';

html,
body,
#app {
    height: 100%;
}

// Errors

.help-block {
    margin-bottom: 2rem;
    margin-top: .2rem;

    &.invalid-feedback {
        font-size: 1.2rem;
        color: $error;
    }
}
