@import '~@weepower/core/styles/variables.scss';

$baseFont: 'Chivo', sans-serif;
$headingFont: $baseFont;

$primary: #0984e3;
$secondary: #e17055;

$success: #00b894;
$warning: #fdcb6e;
$error: #d63031;

$lighterGray: #dfe6e9;
$lightGray: #b2bec3;
$darkGray: #636e72;
$darkestGray: #2d3436;
